<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="/static/main.js" defer></script> 
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Star Wars universe planets</title>
</head>
<body>
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Planet list</a>
      </div>
      <ul class="nav navbar-nav">
      <!-- Here we provide the options of registration and login for the guest-user 
      and the logout for the already logged in user.-->
        {% if user == 'Guest' %}
          <li><a href="/registration">Registration</a></li>
          <li><a href="/login">Login</a></li>
        {% else %}
          <li><a href="/logout">Logout</a></li>
        {% endif %}
      </ul>
      <div id="username-container">Signed in as 
        <div id="username">{{user}}</div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <h1> Star Wars universe planets </h1>
      <!-- This is our HTMl part of the Pageflip handler -->
      <form action='/' method='POST'>
        {% if not previous %}
          <input class="btn btn-primary btn-md" type="submit" name="direction" value="Previous" disabled>
          <input class="btn btn-primary btn-md" type="submit" name="direction" value="Next">
        {% elif not next %}
          <input class="btn btn-primary btn-md" type="submit" name="direction" value="Previous">
          <input class="btn btn-primary btn-md" type="submit" name="direction" value="Next" disabled>
        {% else %}
          <input class="btn btn-primary btn-md" type="submit" name="direction" value="Previous">
          <input class="btn btn-primary btn-md" type="submit" name="direction" value="Next">
        {% endif%}
      </form>
    </div>
    <div class="row">
      <table class="col-sm-11">
          {% for attribute in planet_attributes %}
      <th>
          {{ attribute }}
      </th>
          {% endfor %}
      {% if user != 'Guest' %}
      <th>Vote</th>
      {% endif %}

      {% for planet in planets%}
        <tr>
          <td class="planet-name">{{ planet[0] }}</td>

          {% if planet[1] == 'unknown' %}
            <td>{{ planet[1] }}</td>
          {% else %}
            <td> {{ '{:,}'.format(planet[1]|int) }} km</td>
          {% endif %}

          <td> {{ planet[2] }}</td>
          <td> {{ planet[3] }}</td>

          {% if planet[4] == 'unknown' %}
            <td> {{ planet[4] }}</td>
          {% else %}
            <td> {{ planet[4] }}%</td>
          {% endif %}

          {% if planet[5] == 'unknown' %}
            <td> {{ planet[5] }}</td>
          {% else %}
            <td> {{ '{:,}'.format(planet[5]|int) }} people</td>
          {% endif %}

          {% if planet[6][0] %}
            <td><button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#planetDetailModal" data-planets= {{ planet[6]|join(',') }}>{{ planet[6]|length }} resident(s)</button></td>
          {% else %}
            <td>No known residents</td>
          {% endif %}

          {% if user != 'Guest' %}
            <td><button type="button" class"btn btn-default btn-md vote-button"><span class="glyphicon glyphicon-thumbs-up vote-button"></span></button></td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
    </div>
    <footer class="footer">
      <p>&copy; Zsolt Nagy 2017</p>
    </footer>

    <!-- Planet detail modal -->
    <div class="modal fade" id="planetDetailModal" tabindex="-1" role="dialog" aria-labelledby="planetDetailModalLabel">
      <div class="modal-dialog" role="document">
      
        <!-- Planet detail modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="planetDetailModalLabel">Modal Header</h4>
          </div>
          <div class="modal-body">
            <table id="modal-table">
              {% for attribute in people_attributes %}
              <th class="modal-tablehead"> {{ attribute }} </th>
              {% endfor %}
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>